@charset "UTF-8"

div.menu {
	position: relative;
}

div.submenu{
	display: none;
	position: absolute;
}

div.menu:hover div.submenu{
	display: block;
	position: relative;
}

div.menu li:hover {
	background-color: #f2f2f2;
}

div.menu li{
	display: inline-block;
	margin-top: 0px;
	padding: 15px;
}

div.menu li a{
	color: #fff;
	text-decoration: none;
}

div.menu li.right{
	background-color: transparent;
	float: right;
	right: 50px;
}

div.menu li.hover-white:hover {
	background-color: #f2f2f2;
}

div.menu li.right a:hover {
	color: #ffa500;
}

div.menu li.right-bord{
	float: right;
	border: 1px solid #fff;
	border-radius: 10px;
}

div.menu li.right-bord:hover {
	background-color: #f2f2f2;
}

img.logo{
	z-index: 5;
	height: 50px;
	width: 135px;
	left:10px;
}

img.back{
	position: absolute;
	z-index: -1;
	top: -200px;
	left: calc(50% - 800px);
	opacity: 0.5;
	height: 962px;
	width: 1710px;
}
