@charset "UTF-8"

/*--------------------------------------MENU----------------------------------------*/
nav.menu{
	height: 80px;
	width: 1200px;
}

/*-----------NAO DEVE APARECER NO MOMENTO--------------*/
nav.menu li ul{
	display: none;
}
/*-----------NAO DEVE APARECER NO MOMENTO--------------*/

nav.menu ul{
	position: relative;
	left: 90px;
	max-width: 100%;
	margin-top: -8px;
}

nav.menu li{
	display: inline-block;
	padding: 30px 11px 25px 11px;
}

nav.menu li a{
	color: #fff;
	text-decoration: none;
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 26px;
}

nav.menu li.right{
	float: right;
}

div.right-bord{
	float: right;
	margin: 15px;
	margin-top: 27px;
}

nav.menu li.right-bord{	
	border: 1px solid #fff;
	border-radius: 5px;
	margin-right: 155px;
	padding: 5px 22px;
	font-weight: 600;
}

div.desktop{
	position: relative;
	top: 0px;
	left: 0px;
	height: 80px;
	width: 100%;
}

div.iconpro{
	float: right;
	margin-left: 5px;
}

div.iconmobile{
	display: none;
	float: right;
	height: 65px;
	width: 70px;
}
/*--------------------------------------MENU----------------------------------------*/



/*-------------------------HOVER DO MENU-------------------------------*/
nav.menu li.hover-white:hover {
	background-color: rgba(255,255,255,.3);
}

nav.menu li.right-bord:hover {
	background-color: rgba(255,255,255,.3);
}

nav.menu li.right a:hover {
	color: #ffa500;
}

div.iconmobile:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,.3);
}
/*-------------------------HOVER DO MENU-------------------------------*/


/*-----------------------------IMAGENS---------------------------------*/
img.logo{
	position: relative;
	float: left;
	height: 50px;
	width: 135px;
	left: 67px;
	margin-top: 15px;
}

div.back-photo{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background: linear-gradient(to bottom left,#77c4e3,#8176b5);
	opacity: 1;
	z-index: -2;
}

img.back{
	position: fixed;
	z-index: -1;
	opacity: 0.5;
	left: calc(50% - 800px);
    top: -200px;
	height: 962px;
	width: 1710px;
}
/*-----------------------------IMAGENS---------------------------------*/


/*--------------------------CENTRO--------------------------*/
div.center{
	position: relative;
	width: 600px;
	margin: 0 auto;
	top: 260px;
	text-align: center;
	text-shadow: 0 1px 5px rgba(0,0,0,.6);
	line-height: 1.3;
	color: #fff;
	font-family: "Roboto Slab";
}

h1.center{
	font-weight: 300;
	max-width: 100%;
}

div.center a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

/*--------------------------CENTRO--------------------------*/


/*------------------------------MEDIAS queris------------------------------*/
@media only screen and (min-width: 401px){
	div.desktop{
		display: static;
	}

	div.center{
		font-size: 20px;
	}
}

@media only screen and (max-width: 999px){
	div.desktop{
		display: none;
	}

	img.logo{
		position: absolute;
		margin-left: -50px;
		margin-top: 0;
	}

	div.iconmobile{
		display: inline-block;
	    position: relative;
    	top: -40px;
    	margin-right: 24px;
    	margin-top: 15px;
    	padding-top: 20px;
	}

	div.center{
		top: 300px;
		width: 350px;
		font-size: 16px;
	}
}

@media only screen and (max-width: 749px){

	div.center{
		position: relative;	
		width: 350px;
		font-size: 12px;
		top: 380px;
		margin: 0 auto;
	}

	div.iconmobile{
		padding-top: 25px;
	}

	img.logo{
		position: absolute;
		margin-left: -50px;
		margin-top: 5px;
	}
}

@media only screen and (max-width: 400px){

	div.center{
		position: absolute;
		top: 400px;
		font-size: 12px;
		width: 300px;
		max-width: 300px;
	}

	div.iconmobile{
		padding-top: 33px;
	}

	img.logo{
		position: absolute;
		margin-left: -50px;
		margin-top: 13px;
	}
}

@media only screen and (max-width: 1200px){

	nav.menu li.hover-white_x{
		display: none;
	}
}